<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/Admin/Home/Dashboard" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="~/assets/img/logo/cropped-rr-logo-1.jpg" style="width:80px;" />
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">RR Remote</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="/Admin/Home/Dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>

        <!-- Layouts -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Master Enteries</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/Admin/Banner/Banner" class="menu-link">
                        <div data-i18n="Without menu">Add Banner</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Brands</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/Admin/Home/Brands" class="menu-link">
                        <div data-i18n="Without menu">Add Brand</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Category</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/Admin/Home/Category" class="menu-link">
                        <div data-i18n="Without menu">Add Categories</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                <div data-i18n="Layouts">Products</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/Admin/Home/Products" class="menu-link">
                        <div data-i18n="Without menu">Add Products</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/Admin/Home/ProductList" class="menu-link">
                        <div data-i18n="Without menu">Product List</div>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</aside>

<!-- / Menu -->
