@model RR_Remote.Models.DTO.ChangePasswordDTO
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Dashboard/</span> Change Password</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Change Password</h5>
                </div>
                <div class="card-body">
                    @if (TempData["msg"] != null)
                    {
                        <div class="alert alert-success">@TempData["msg"]</div>
                    }
                    @if (TempData["errormsg"] != null)
                    {
                        <div class="alert alert-danger">@TempData["errormsg"]</div>
                    }
                    <form method="post">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Password</label>
                            <div class="col-sm-10">
                                <input type="hidden" class="form-control" value="@ViewBag.Id" name="Id" id="basic-default-name" placeholder="Enter Brand Name" required />
                                <input type="text" class="form-control" name="Password" placeholder="Enter New Password" required />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Confirm Password</label>
                            <div class="col-sm-10">
                                <input type="hidden" class="form-control" value="@ViewBag.Id" name="Id" id="basic-default-name" placeholder="Enter Brand Name" required />
                                <input type="text" class="form-control" name="ConfirmPassword" placeholder="Enter Confirm Password" required />
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Change</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
